/* body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
p,a,div,span {
    color:red
} */


.goit2 {
    color: purple
}

.goit2:hover {
    background-color: black;
    color: white
}

.goit1 {
    font-size: 20px;
}

.test h1 {
    background-color: black;
    color: white;
}

.test h1:hover {
    background-color: blue;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

div #arac {
    font-size: 25px;
}

.social-links .link {
    color: teal;
}

.social-links .link:hover {
    color: orange;
}

.social-links .link:active {
    color: red;
}

.social-links .link:focus {
    color: blue;
}

/* 
p {
    color: green;
} */

/* section>p {
    color: orange !important;
} */

.pelementi {
    color: red
}

#pidsi {
    color: blueviolet
}

.kutucuk {
    background-color: aqua;
    width: 50%;
    height: 200px;
    border: 20px solid red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: left;
    text-indent: 20px
}

.kutucuk p {
    font-weight: 700;
    font-style: italic;
}

.goit-css {
    /* text-decoration: underline;  */
    text-transform: lowercase;
    background-color: cadetblue;
    line-height: 12px;
    font-size: 13px;
}

.shadow {
    font-size: 40px;
    /*  eksi değeri başlangıç değeri solna sağ ve alt değerini sol ve üst değerine çevirir*/
    text-shadow: -2px -2px 7px red;
    color: black !important;

}

.shadow>.shadowspan {
    color: blue;
    font-weight: 900;
    font-size: 16px;
}

.social-links {
    list-style-type: none
}


.box {
    width: 400px;
    border: 2px solid red;
    /* padding: 30px; */
    padding-top: 40px;
    padding-left: 40px;
    margin-top: 50px;
    margin-left: 40px;
    margin-bottom: 60px;
    margin: 10px 10px 10px 10px;

}

.div1 {
    width: 200px;
    padding: 20px;
    border: 5px solid blue;
    box-sizing: content-box;
    background-color: lightblue;

}

.div2 {
    width: 200px;
    height: 200px;
    padding: 20px;
    border: 5px solid blue;
    box-sizing: border-box;
    background-color: lightblue;
    border-radius: 50%;
    overflow: auto;
}

/* .div2:hover{
    border-color: red;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
} */


.div1::after {
    content: "after özelliği";
    background-color: chartreuse;
}

.div1::before {
    content: "before özelliği";
    color: red;
}

body {
    background-color: lightsalmon;
    /* margin: 0; */
}

.frame {
    display: none;
    margin-top: 30px;
    /* border: 2px solid black; */
    width: 200px;
    height: 100px;
    /* display: flex;
    text-align: center;
    justify-content: center;
    align-items: center; */
    border-top: 2px solid black;
    border-left: 2px dashed red;
    border-right: 2px dotted blue;
    border-bottom: 2px solid purple;
}

.maxWidth {
    max-width: 400px;
    border: 2px solid black;
    /* height: 200px; */
    background-color: red;
    max-height: 80px;
    overflow: scroll;
}

.box123 {
    width: 70px;
    height: 100px;
    background-color: red;
}

.list-item:nth-child(2n) {
    background-color: orange;
}

.list-item:nth-child(2n+1) {
    background-color: green;
}