.goit2 {
    color: purple
}

.goit2:hover {
    background-color: black;
    color: white
}

.goit1 {
    font-size: 20px;
}

.test h1 {
    background-color: black;
    color: white;
}

.test h1:hover {
    background-color: blue;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

div #arac {
    font-size: 25px;
}

.social-links .link {
    color: teal;
}

.social-links .link:hover {
    color: orange;
}

.social-links .link:active {
    color: red;
}

.social-links .link:focus {
    color: blue;
}